<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hlwxy.xu_boot2.system.dao.DaySummaryDao">

<resultMap id="daySummaryExtendDO" type="com.hlwxy.xu_boot2.system.domain.DaySummaryExtendDO">
	<!--column的值为在数据库中查询的列，property的值为返回的pojo中的属性-->
	<!--id配置对应主键，result配置对应属性和列名 -->
	<id column="id" property="id"></id>
	<result column="day_summary_code" property="day_summary_code"></result>
	<result column="day_summary_time" property="day_summary_time"></result>
	<result column="day_summary_content" property="day_summary_content"></result>
	<result column="day_summary_entry_time" property="day_summary_entry_time"></result>
	<result column="day_summary_reply" property="day_summary_reply"></result>
	<result column="day_summary_see" property="day_summary_see"></result>
	<result column="day_summary_state" property="day_summary_state"></result>
	<result column="peo_id" property="peo_id"></result>
	<!--collection 配置返回pojo中的pojo，property是在返回类型中定义的pojo的属性名，javaType是映射到的pojo的路径-->
	<!--<collection property="peopleDO" javaType="com.hlwxy.bootcurd.system.domain.PeopleDO">-->
		<!--<id column="id" property="id"></id>-->
	<result column="people_code" property="peopleCode"></result>
	<result column="job_number" property="jobNumber"></result>
	<result column="peo_name" property="peoName"></result>
	<result column="morning_state" property="morningState"></result>
	<result column="afternoon_state" property="afternoonState"></result>
	<result column="user_id" property="userId"></result>
	<result column="gs_id" property="gsId"></result>
	<result column="bm_id" property="bmId"></result>
	<result column="position_id" property="positionId"></result>
	<result column="day_plan_id" property="dayPlanId"></result>
	<result column="day_summary_id" property="daySummaryId"></result>
	<result column="week_plan_id" property="weekPlanId"></result>
	<result column="week_summary_id" property="weekSummaryId"></result>
	<result column="monthly_plan_id" property="monthlyPlanId"></result>
	<result column="monthly_summary_id" property="monthlySummaryId"></result>
	<!--</collection>-->
	<collection property="monthlyPlan" javaType="com.hlwxy.xu_boot2.system.domain.MonthlyPlan">
		<id column="id" property="id"></id>
		<result column="monthly_plan_code" property="monthly_plan_code"></result>
		<result column="monthly_plan_time" property="monthly_plan_time"></result>
		<result column="monthly_plan_entry_end_time" property="monthly_plan_entry_end_time"></result>
		<result column="monthly_plan_content" property="monthly_plan_content"></result>
		<result column="monthly_plan_entry_time" property="monthly_plan_entry_time"></result>
		<result column="monthly_plan_reply" property="monthly_plan_reply"></result>
		<result column="monthly_plan_see" property="monthly_plan_see"></result>
		<result column="monthly_plan_state" property="monthly_plan_state"></result>
		<result column="peo_id" property="peo_id"></result>
	</collection>
	<collection property="weekPlanDO" javaType="com.hlwxy.xu_boot2.system.domain.WeekPlanDO">
		<id column="id" property="id"></id>
		<result column="week_plan_code" property="week_plan_code"></result>
		<result column="week_plan_time" property="week_plan_time"></result>
		<result column="week_plan_entry_end_time" property="week_plan_entry_end_time"></result>
		<result column="week_plan_content" property="week_plan_content"></result>
		<result column="week_plan_entry_time" property="week_plan_entry_time"></result>
		<result column="week_plan_reply" property="week_plan_reply"></result>
		<result column="week_plan_see" property="week_plan_see"></result>
		<result column="week_plan_state" property="week_plan_state"></result>
		<result column="peo_id" property="peo_id"></result>
		<result column="monthly_plan_time" property="monthly_plan_time"></result>
	</collection>
	<collection property="dayPlanDO" javaType="com.hlwxy.xu_boot2.system.domain.DayPlanDO">
		<id column="id" property="id"></id>
		<result column="day_plan_code" property="day_plan_code"></result>
		<result column="day_plan_time" property="day_plan_time"></result>
		<result column="day_plan_entry_end_time" property="day_plan_entry_end_time"></result>
		<result column="day_plan_content" property="day_plan_content"></result>
		<result column="day_plan_entry_time" property="day_plan_entry_time"></result>
		<result column="day_plan_reply" property="day_plan_reply"></result>
		<result column="day_plan_see" property="day_plan_see"></result>
		<result column="day_plan_state" property="day_plan_state"></result>
		<result column="peo_id" property="peo_id"></result>
		<result column="week_plan_time" property="week_plan_time"></result>
	</collection>
</resultMap>

<resultMap id="peopleDO" type="com.hlwxy.xu_boot2.system.domain.PeopleDO">
	<id column="id" property="id"></id>
	<result column="people_code" property="peopleCode"></result>
	<result column="job_number" property="jobNumber"></result>
	<result column="peo_name" property="peoName"></result>
	<result column="morning_state" property="morningState"></result>
	<result column="afternoon_state" property="afternoonState"></result>
	<result column="user_id" property="userId"></result>
	<result column="gs_id" property="gsId"></result>
	<result column="bm_id" property="bmId"></result>
	<result column="position_id" property="positionId"></result>
	<result column="day_plan_id" property="dayPlanId"></result>
	<result column="day_summary_id" property="daySummaryId"></result>
	<result column="week_plan_id" property="weekPlanId"></result>
	<result column="week_summary_id" property="weekSummaryId"></result>
	<result column="monthly_plan_id" property="monthlyPlanId"></result>
	<result column="monthly_summary_id" property="monthlySummaryId"></result>
</resultMap>
	<!-- 查询所有人当前月的总结,总条数-->
	<select id="coun" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
		t_people
		LEFT JOIN t_day_summary ON t_day_summary.id = t_people.day_summary_id
	</select>
	<!-- 查询所有人当前月的总结 -->
	<select id="findDaySummary" parameterType="com.hlwxy.xu_boot2.system.domain.Page" resultMap="daySummaryExtendDO">
		SELECT
			t_people.*,
			t_day_summary.*
		FROM
			t_people
		LEFT JOIN t_day_summary ON t_day_summary.id = t_people.day_summary_id
		LIMIT ${pc},${pageSize}
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_people
	</select>

	<!-- 根据总结id查询总结 -->
	<select id="getDaySummaryById" parameterType="com.hlwxy.xu_boot2.system.domain.DaySummaryDo" resultMap="daySummaryExtendDO">
		SELECT
			*
		FROM
			t_day_summary
			LEFT JOIN t_day_plan ON t_day_plan.day_plan_time = t_day_summary.day_summary_time
			LEFT JOIN t_week_plan ON t_day_plan.week_plan_time = t_week_plan.week_plan_time
			LEFT JOIN t_monthly_plan ON t_week_plan.monthly_plan_time = t_monthly_plan.monthly_plan_time
			LEFT JOIN t_people ON t_day_summary.peo_id = t_people.id
		WHERE
			t_day_summary.peo_id = t_day_plan.peo_id
			AND t_day_plan.peo_id = t_week_plan.peo_id
			AND t_week_plan.peo_id = t_monthly_plan.peo_id
			AND t_day_summary.id = ${id}
	</select>

	<!--根据公司编号查询 本月份 公司下的所有人的总结-->
	<select id="findDaySummaryByCompany" parameterType="com.hlwxy.xu_boot2.system.domain.CompanyDO" resultMap="daySummaryExtendDO">
		SELECT
		t_people.*,
		t_day_summary.*
		FROM
		t_people
		LEFT JOIN t_day_summary ON t_day_summary.id=t_people.day_summary_id
		WHERE t_people.gs_id=${id}
	</select>

	<!--根据部门id查询 本月份 部门下的所有人的总结-->
	<select id="findDaySummaryByDepartment" parameterType="com.hlwxy.xu_boot2.system.domain.DepartmentDO" resultMap="daySummaryExtendDO">
		SELECT
		t_people.*,
		t_day_summary.*
		FROM
		t_people
		LEFT JOIN t_day_summary ON t_day_summary.id=t_people.day_summary_id
		WHERE t_people.bm_id=${id}
	</select>
	<!--多条件组合查询，总条数-->
	<select id="queryCount" parameterType="com.hlwxy.xu_boot2.system.domain.ConditionDO" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			t_day_summary
			LEFT JOIN t_people ON t_day_summary.peo_id = t_people.id
		WHERE
			t_people.gs_id LIKE '%${gsId}%'
			AND day_summary_time LIKE '%${time}%'
			AND t_people.peo_name LIKE '%${peoName}%'
			AND t_people.bm_id LIKE '%${bmId}%'
	</select>
	<!--多条件组合查询-->
	<select id="compositeQueryDaySummary" parameterType="com.hlwxy.xu_boot2.system.domain.ConditionDO" resultMap="daySummaryExtendDO">
		SELECT
			t_day_summary.*,
			t_people.*
		FROM
			t_day_summary
			LEFT JOIN t_people ON t_day_summary.peo_id = t_people.id
		WHERE
			t_people.gs_id LIKE '%${gsId}%'
			AND day_summary_time LIKE '%${time}%'
			AND t_people.peo_name LIKE '%${peoName}%'
			AND t_people.bm_id LIKE '%${bmId}%'
			LIMIT ${pc},${pageSize}
	</select>

	<!--添加月总结-->
	<insert id="addDaySummary" parameterType="com.hlwxy.xu_boot2.system.domain.DaySummaryDo">
		INSERT INTO t_day_summary ( day_summary_code, day_summary_time, day_summary_content,day_summary_entry_time, day_summary_reply, day_summary_see, day_summary_state, peo_id)
		VALUES
			( '${day_summary_code}', '${day_summary_time}', '${day_summary_content}', '${day_summary_entry_time}', '${day_summary_reply}', '${day_summary_see}', ${day_summary_state},${peo_id})
	</insert>

	<!--根据计划编号查询月总结-->
	<select id="getDaySummaryByCode" parameterType="java.lang.String" resultMap="daySummaryExtendDO">
		SELECT
		*
		FROM
		t_day_summary
		WHERE
		day_summary_code = '${code}'
	</select>

	<!--修改人员月总结id-->
	<update id="updatePeopleByCode" parameterType="com.hlwxy.xu_boot2.system.domain.PeopleDO">
		UPDATE t_people SET day_summary_id = ${daySummaryId} WHERE id = ${id}
	</update>
	<!--修改月总结内容-->
	<update id="updateDaySummaryContentByPeople" parameterType="com.hlwxy.xu_boot2.system.domain.DaySummaryExtendDO">
		UPDATE t_day_summary SET day_summary_content = '${day_summary_content}',day_summary_state=${day_summary_state},day_summary_entry_time='${day_summary_entry_time}' WHERE id = '${daySummaryId}'
	</update>

	<!--修改计划状态-->
	<update id="updateDaySummaryStateById" parameterType="com.hlwxy.xu_boot2.system.domain.DaySummaryDo">
		UPDATE t_day_summary SET day_summary_state = ${day_summary_state} WHERE id = ${id}
	</update>

</mapper>