<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日计划</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/new_human02.css">
    <link rel="stylesheet" href="/static/css/layui.css">
    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <!--<script src="../layui-v2.5.5/layui/layui.js"></script>-->
    <script src="/static/js/layui.js"></script>
</head>
<script>
    function add(){
        window.location.href = 'new_month03.html';
    }
</script>
<body>
<!--按钮功能-->

<!--查询-->
<div class="sum_day">
    <div class="month_T">
        <input type="button" value="添加" class="btn btn-primary btn-lg active btn btn-primary btn-sm" onclick="add()" id="add"/>
        <input type="text" value="" class="data_text" id="data_text01" placeholder="按人员查询"/>
        <input type="text" value="" class="data_text" id="data_text02" placeholder="按部门查询"/>
        <input type="text" value="" class="data_text" id="data_text03" placeholder="按公司查询"/>
        <input type="date" value="" class="data_textw" id="data_text04" placeholder="按日份查询"/>
        <button type="button" class="btn btn-info btn btn-primary btn-sm" onclick="monthplanSelect()" id="size">查看</button>
    </div>
</div>
<!--审核-->
<div class="pop_main">
    <div class="pop_con">
        <div class="pop_detail">
            <p class="pop_text">是否通过审核？</p>
        </div>
        <div class="pop_footer">
            <input type="button" value="通过" class="cancel" name="4" id="cancel" onclick="Get_cancel(this.name)">
            <input type="button" value="驳回" class="cancel" name="3" id="confirm" onclick="Get_confirm(this.name)">
        </div>
    </div>
</div>

<!--表格-->
<div class="table-responsive">
    <table border="1" class="table table-bordered table-hover" id="table_id">
        <thead>
        <tr class="active">
            <td><input type="checkbox" value="全选" onclick="checkedAll(this) " /></td>
            <td>工号</td>
            <td>人员名称</td>
            <td>计划时间</td>
            <td>录入时间</td>
            <td>查看日计划</td>
            <td>状态</td>
            <td><input type="button" value="审核" class="btn btn-primary btn-lg active btn btn-primary btn-sm" onclick="delSome()"/></td>
            <!--<td><a>Week-End</a></td>-->
            <!--<td><a>Day-End</a></td>-->
        </tr>
        <thead>
        <tbody id="tb">
        </tbody>
    </table>
    <!--展示层-->
    <div class="signWrap" id="divPop">
        <div class="sign">
            <h4>日报</h4>
            <p></p>
            <label>本日工作计划：</label>
            <textarea type="text" placeholder="尝试@TA" id="oneP_plan_day"></textarea>
            <p class="one_p"></p>
            <label>录入时间：</label>
            <textarea type="text" placeholder="尝试@TA" id="oneP_end_day"></textarea>
            <p class="one_p"></p>
            <h4>周报</h4>
            <p></p>
            <label>本周工作计划：</label>
            <textarea type="text" placeholder="尝试@TA" id="oneP_plan_week"></textarea>
            <p class="one_p"></p>
            <label>录入时间：</label>
            <textarea type="text" placeholder="尝试@TA" id="oneP_end_week"></textarea>
            <p class="one_p"></p>
            <h4>月报</h4>
            <p></p>
            <label>本月工作计划：</label>
            <textarea type="text" placeholder="尝试@TA" id="oneP_plan" readonly></textarea>
            <p class="one_p"></p>
            <label>录入时间：</label>
            <textarea type="text" placeholder="尝试@TA" id="oneP_end" readonly></textarea>
            <p class="one_p"></p>
        </div>
    </div>
</div>
<!--对到顶部-->
<button type="button" class="btn btn-warning" id="back-to-top">
    <span style="writing-mode:tb-rl">回到顶部</span>
</button>
<div class="end" id="page">
</div>
</body>

<script src="/static/js/new_human04.js"></script>
</html>