<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/new_month01.css">
    <link rel="stylesheet"  href="/static/font-awsome/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../css/font-awesome.min.css">-->
    <script src="/static/js/jquery-3.4.0.min.js"></script>

</head>
<body>
<form>
    <fieldset>
        <div>
            <h3 style="display:inline-block ">月报</h3>
            <!--<a href="new_human.html"><i class="fa fa-window-close-o fa-lg" aria-hidden="true" style="display: inline-block;margin-left: 440px"></i></a>-->
        </div>
        <p></p>
        <div>
            <span style="display: inline-block">本次录入时间：</span>
            <span style="display: inline-block;" id="currentDate"></span>
        </div>
        <p></p>
        <label class="text_I">本月工作计划：</label>
        <textarea type="text" placeholder="尝试@TA" id="text_I" readonly class="texeMonth_add"></textarea>
        <input type="button" value="提交" id="addPlan" class="btn_value" onclick="saveOne(this.value)">
        <input type="button" value="保存" id="savaPlan" class="btn_value" onclick="saveOne(this.value)">
        <input type="button" value="修改" class="btn_value" id="updatePlan" onclick="editEnable(this)">
        <p class="one_p"></p>

        <label>本月工作总结：</label>
        <textarea type="text" placeholder="尝试@TA" id="text_O" readonly class="texeMonth_add"></textarea>
        <input type="button" value="提交" class="btn_value" id="addSummary" onclick="saveTwice(this.value)">
        <input type="button" value="保存" class="btn_value" id="saveSummary" onclick="saveTwice(this.value)">
        <input type="button" value="修改" class="btn_value" id="updateSummary" onclick="editEnable_Twice(this)">

    </fieldset>
</form>

<script src="/static/js/new_month01.js"></script>
</body>
</html>