
body{
	/*background: url(../images/189-1P615141452-50.jpg);
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.login-page {
		  width: 360px;
		  padding: 12% 0 0;
		  margin: auto;
		}
		.form {
		  position: relative;
		  z-index: 1;
		  background: #FFFFFF;
		  max-width: 360px;
		  margin: 0 auto 100px;
		  padding: 40px;
		  text-align: center;
		  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		}
		.form input {
		  font-family: "Roboto", sans-serif;
		  outline: 0;
		  background: #f2f2f2;
		  width: 100%;
		  border: 0;
		  margin: 0 0 15px;
		  padding: 15px;
		  box-sizing: border-box;
		  font-size: 14px;
		}
		.ogin-form #login{
			display: inline-block;
			 font-family: "Microsoft YaHei","Roboto", sans-serif;
		  text-transform: uppercase;
		  outline: 0;
		  background: #72d0eb;
		  width: 100%;
		  border: 0;
		 padding: 12px 0;
		  color: #FFFFFF;
		  font-size: 16px;
		  cursor: pointer;
		}
		.register-form #register{
		  font-family: "Microsoft YaHei","Roboto", sans-serif;
		  text-transform: uppercase;
		  outline: 0;
		  background: #72d0eb;
		  width: 100%;
		  border: 0;
		  padding: 12px 0; 
		  color: #FFFFFF;
		  font-size: 16px;
		  cursor: pointer;
		}
		.login-form #login{
		  font-family: "Microsoft YaHei","Roboto", sans-serif;
		  text-transform: uppercase;
		  outline: 0;
		  background: #72d0eb;
		  width: 100%;
		  border: 0;
		  padding: 12px 0; 
		  color: #FFFFFF;
		  font-size: 16px;
		  cursor: pointer;
		}
		 button>a{
			display: inline-block;
			color: #FFFFFF;
			text-decoration: none;
		}
	    
		.form .message {
		  margin: 18px 0 0;
		  color: #b3b3b3;
		  font-size: 14px;
		}
		.form .message a {
		  color: #4CD964;
		  text-decoration: none;
		}
		.form .register-form {
		  display: none;
		}
		
		span{
			position: absolute;
			top: 56px;
			margin-left: 6px;
			z-index: 3;
			font-size: 12px;
			display: inline-block;
			text-align: left;
			
		}
		#span1{
			width: 300px;
			color: #72d0eb;
		}
		#span2{
			top: 116px;
			width: 270px;
			color: crimson;
		}
		#span3{
			top: 178px;
			width: 120px;
			color: burlywood;
		}
		#span4{
			top: 240px;
			width: 120px;
			color: #2a3542;
		}
		#span5{
			display: none;
			top: 300px;
			left: 320px;
			width: 120px;
			color: pink;
		}
		
		#span6{
			width: 300px;
			color: #72d0eb;
		}
		#span7{
			top: 116px;
			width: 270px;
			color: crimson;
		}
		#span8{
			display: none;
			top: 180px;
			left: 320px;
			width: 120px;
			color: pink;
		}
		/*登录注册的样式*/
		