form{
    width: 640px;
    margin: 10px auto;
}
form>fieldset{
    padding: 10px;
}
a{
    text-decoration: none;
}
form>fieldset>p{
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}
span{
    margin-left: 40px;
}
form>fieldset>label{
    margin-left: 40px;
}
h3{
    margin-left: 60px;
}
form>fieldset>textarea{
    width: 100%;
    height: 70px;
    line-height: 40px;
    border: solid 0px white;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 15px;
    padding-left: 39px;
    box-sizing: border-box;
}
.one_p{
    margin-top: -4px;
}
.btn_value{
    width: 29%;
    height: 40px;
    line-height: 40px;
    border: solid 0px white;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 19px;
    cursor: pointer;

}
.texeMonth_add{
    width: 90%;
    height: 70px;
    line-height: 15px;
    border: solid 0px white;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    padding-top: 12px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 17px;
    color: black;
    resize:none;
}
