body {
	margin: 0;
	padding: 0;
}

.header {
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.full-center {
	width: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background: rgba(84, 76, 76, .3);
	border-radius: 4px;
}


/********************************************************/

.login-page {
		  padding: 0;
		  margin: 0 auto;
		  
		}
		.form {
		  position: relative;
		  z-index: 1;
		  margin: 0 auto;
		  padding: 40px;
		  text-align: center;
		  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		}
		.form input {
		  font-family: "Roboto", sans-serif;
		  outline: 0;
		  background: #f2f2f2;
		  width: 100%;
		  border: 0;
		  margin: 0 0 15px;
		  padding: 15px;
		  box-sizing: border-box;
		  font-size: 14px;
		}
		
		
		.login-form #login{
		  font-family: "Microsoft YaHei","Roboto", sans-serif;
		  text-transform: uppercase;
		  outline: 0;
		  background: #72d0eb;
		  width: 100%;
		  border: 0;
		  padding: 12px 0; 
		  color: #FFFFFF;
		  font-size: 16px;
		  cursor: pointer;
		}
		 
	    
		.form .message {
		  margin: 18px 0 0;
		  color: #FFFFFF;
		  font-size: 14px;
		}
		.form .message a {
		  color: #4CD964;
		  text-decoration: none;
		}
		.form .register-form {
		  display: none;
		}
