
<!--<!DOCTYPE html>-->
<!--<html lang="zh-CN">-->

<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<title></title>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/css/index.css" />-->
<!--</head>-->

<!--<body>-->

<!--<div id="wrapper" class="login-page">-->
    <!--<div id="login_form" class="form">-->
        <!--<form id="login-form" class="login-form" method="post" onsubmit="return btn01()">-->
            <!--<input type="text" placeholder="用户名" name="username" id="user_name" onblur="loginame()"/><span id="span6"></span>-->
            <!--<input type="password" placeholder="密码" name="password" id="password" onblur="loginpwd()"/><span id="span7"></span>-->
            <!--<button id="login" type="button" onclick="loginUser()">登 录</button>-->
            <!--<p class="message">还没有账户?-->
                <!--&lt;!&ndash;<a href="#">立刻创建</a>&ndash;&gt;-->
            <!--</p>-->
        <!--</form>-->

    <!--</div>-->
<!--</div>-->
<!--　<script src="/static/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/js/index.js"></script>-->
<!--<script src="/static/js/plugins/layer/layer.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$(function(){-->
        <!--$('.message a').click(function () {-->
            <!--$('form').animate({-->
                <!--height: 'toggle',-->
                <!--opacity: 'toggle'-->
            <!--}, 1000);-->
        <!--});-->
    <!--})-->
<!--</script>-->

<!--<script type="text/javascript">-->
    <!--function loginUser() {-->
        <!--$.ajax({-->
            <!--dataType: 'json', // 注意：这里是指希望服务端返回json格式的数据-->
            <!--cache: true,-->
            <!--async: false,-->
            <!--type: 'POST',-->
            <!--data: $('#login-form').serialize(),-->
            <!--url: '/main',-->
            <!--error: function () {-->
                <!--alert('请求失败');-->
            <!--},-->
            <!--success: function (data) {-->
                <!--if (data.code==0){-->
                    <!--window.location.href = '/toPageMain';-->
                <!--}-->

            <!--}-->
        <!--});-->
    <!--}-->

    <!--if (window != top)-->
        <!--top.location.href = location.href;-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
